body{
    width: 100%;
    height: 100%;
}

.main{
    width: 80%;
    margin: 0 auto;
}

input{
    display: none;
}

.other_item{
    margin-top: 4px;
    padding-bottom: 2px;
    height: fit-content;
    display: flexbox;
    border-bottom: 1px solid gray;
}

.visible_part{
    display: flex;
    justify-content: space-between;
}

.mark{
    background-image: url(img/ellipsis-vertical-circle-outline.svg);
    width: 20px;
    height: 20px;
    display: none;
}

.text{
    font-size: larger ;
}

.invisible_part{
    display: flex;
    justify-content: center;
    visibility: hidden;
    height: 0px;
}

.main:hover .mark{
    display: block;
}

input:checked + label .invisible_part{
    visibility: visible;
    height: 100px;
}

input:checked + label .mark{
    background-image: url(img/ellipsis-horizontal-circle-outline.svg);
}

.other_item:hover .invisible_part{
    visibility: visible;
    height: 100px;
}

.other_item:hover .mark{
    background-image: url(img/ellipsis-horizontal-circle-outline.svg);
}